In [1]:
import pyspark
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from pyspark.sql import SparkSession
from pyspark.sql import functions as func
from pyspark.sql.types import IntegerType,StringType,DoubleType
from pyspark.ml.stat import Correlation
from pyspark.sql.functions import split,udf,col,regexp_replace

## Creating a spark session

In [2]:
conf = pyspark.SparkConf().setMaster('local[*]') \
        .set('spark.executor.heartbeatInterval', 10000) \
        .set('spark.network.timeout', 10000) \
        .set('spark.core.connection.ack.wait.timeout', '3600')
spark = SparkSession \
        .builder \
        .appName('parking') \
        .config(conf=conf) \
        .getOrCreate()

## Loading dataset and overview

In [3]:
df = spark.read.csv('./parking.csv',header=True,inferSchema=True)

In [4]:
pd.DataFrame(df.dtypes,columns=['column Name', 'Data type'])

                          column Name Data type
0                      Summons Number    bigint
1                            Plate ID    string
2                  Registration State    string
3                          Plate Type    string
4                          Issue Date    string
5                      Violation Code       int
6                   Vehicle Body Type    string
7                        Vehicle Make    string
8                      Issuing Agency    string
9                        Street Code1       int
10                       Street Code2       int
11                       Street Code3       int
12            Vehicle Expiration Date       int
13                 Violation Location       int
14                 Violation Precinct       int
15                    Issuer Precinct       int
16                        Issuer Code       int
17                     Issuer Command    string
18                       Issuer Squad    string
19                     Violation Time    string
20                Time First Observed    string
21                   Violation County    string
22  Violation In Front Of Or Opposite    string
23                       House Number    string
24                        Street Name    string
25                Intersecting Street    string
26                Date First Observed    string
27                        Law Section    string
28                       Sub Division    string
29               Violation Legal Code    string
30         Days Parking In Effect        string
31               From Hours In Effect    string
32                 To Hours In Effect    string
33                      Vehicle Color    string
34              Unregistered Vehicle?    string
35                       Vehicle Year    string
36                       Meter Number    string
37                     Feet From Curb    string
38                Violation Post Code    string
39              Violation Description    string
40  No Standing or Stopping Violation    string
41                  Hydrant Violation    string
42           Double Parking Violation    string
43                           Latitude    string
44                          Longitude    string
45                    Community Board    string
46                 Community Council     string
47                       Census Tract    string
48                                BIN    string
49                                BBL    string
50                                NTA    string

In [5]:
df.describe().toPandas()

,summary,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,...,Hydrant Violation,Double Parking Violation,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,count,9100278,9100276,9100278,9100278,9100278,9100278,8989410,9037103,9100278,...,1,1,1,1,1,1,1,1,1,1
1,mean,6.486507134673543E9,NaN,99.0,999.0,None,35.25493495912982,5.256613226452906,4555.626865671642,None,...,None,None,None,None,None,None,None,None,None,None
2,stddev,2.1664474212002106E9,NaN,0.0,9.85113404791972E-14,None,20.50547511932227,23.127694456636892,12905.597273858535,None,...,None,None,None,None,None,None,None,None,None,None
3,min,1001793950,!,99,999,01/01/1981,0,-,(UPS),A,...,"{""""id"""":135110655","name"""":""""Drug Maximum Out of Pocket - individu...","dataTypeName"""":""""text","fieldName"""":""""drug_maximum_out_of_pocket_indiv...","position"""":64","tableColumnId"""":16639867","width"""":700","format"""":{}","metadata"""":{}}","{""""id"""":135110656"
4,max,8006150291,],YT,WUG,12/31/2031,99,ZSR,`,X,...,"{""""id"""":135110655","name"""":""""Drug Maximum Out of Pocket - individu...","dataTypeName"""":""""text","fieldName"""":""""drug_maximum_out_of_pocket_indiv...","position"""":64","tableColumnId"""":16639867","width"""":700","format"""":{}","metadata"""":{}}","{""""id"""":135110656"

In [6]:
df.limit(2).toPandas()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Hydrant Violation,Double Parking Violation,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,1283294138,GBB9093,NY,PAS,08/04/2013,46,SUBN,AUDI,P,37250,...,None,None,None,None,None,None,None,None,None,None
1,1283294151,62416MB,NY,COM,08/04/2013,46,VAN,FORD,P,37290,...,None,None,None,None,None,None,None,None,None,None

## Pre-Processing

<font size="4">In the following columns, if we see the values of column 'Violation Time' it should actually be in the format HH:MM:AM/PM. (Ex:- 0752A) should be 07:52:AM and if we see the values of column 'Issue Date' it can be split into 3 columns 'Date', 'Month', 'Year' respectivley</font>

In [7]:
df.select('Violation Time').show(5)

+--------------+
|Violation Time|
+--------------+
|         0752A|
|         1240P|
|         1243P|
|         0232P|
|         1239P|
+--------------+
only showing top 5 rows

In [8]:
df.select('Issue Date').show(5)

+----------+
|Issue Date|
+----------+
|08/04/2013|
|08/04/2013|
|08/05/2013|
|08/05/2013|
|08/08/2013|
+----------+
only showing top 5 rows

<font size="4">In the following cells we are splitting the column 'Violation Time' into 'Time_Hour' and 'Meridiem'. Column 'Time_Hour' contains the time the violation was commited and column 'Meridiem' contains if it was during AM or PM. Column 'Issue Date' is split into 'Day' **(typo it should be Date)**, 'Year' and 'Month'.</font>

In [4]:
import datetime 
def day_finder(x):
    return datetime.datetime.strptime(x, '%m/%d/%Y').weekday()
day_udf = func.udf(lambda x: day_finder(x), IntegerType())

In [5]:
df = df.withColumnRenamed('Violation Time', 'Violation_Time')
df_new = df.withColumn('Month',func.split('Issue Date','/')[0]) \
            .withColumn('Year',func.split('Issue Date','/')[2]) \
            .withColumn('Day',day_udf(func.col('Issue Date')))  \
            .withColumn('Meridiem', \
                      func.when(func.isnan(df.Violation_Time) \
                               | func.col('Violation_Time').isNull()\
                               , func.lit(None))\
                      .otherwise(func.substring(df.Violation_Time,5,1))) \
            .withColumn('Time_Hour', \
                      func.when(func.isnan(df.Violation_Time) \
                               | func.col('Violation_Time').isNull()\
                               , func.lit(None))\
                      .otherwise(func.substring(df.Violation_Time,1,2)))

In [6]:
df_new = df_new.withColumn('Year',df_new['Year'].cast(IntegerType())) \
    .withColumn("Month",df_new["Month"].cast(DoubleType())) \
    .withColumn("Day",df_new["Day"].cast(DoubleType())) \
    .withColumn("Time_Hour",df_new["Time_Hour"].cast(DoubleType()))

In [12]:
df_new.groupBy("Year") \
  .count() \
  .withColumnRenamed('count', 'count') \
  .withColumn('percentage', (func.col('count') / df_new.count()) * 100 ) \
  .show()

+----+-------+--------------------+
|Year|  count|          percentage|
+----+-------+--------------------+
|2003|     39|4.285583363497247E-4|
|2007|     13|1.428527787832415...|
|2018|    181|0.001988950227674...|
|2044|      9|9.889807761916724E-5|
|2015|   1522| 0.01672476379293028|
|2032|      3|3.296602587305575E-5|
|2023|     31|3.406489340215760...|
|2006|     11|1.208754282012044...|
|2031|     93|0.001021946802064...|
|2013|4379109|   48.12060686497709|
|2014|4716512|  51.828218874192636|
|1973|     10|1.098867529101858...|
|2041|     39|4.285583363497247E-4|
|2019|    329|0.003615274170745...|
|2004|     77|8.461279974084309E-4|
|2030|     45|4.944903880958363E-4|
|2053|      1|1.098867529101858...|
|2012|    618|0.006791001329849484|
|2009|      9|9.889807761916724E-5|
|2016|    296|0.003252647886141...|
+----+-------+--------------------+
only showing top 20 rows

<font size="4">The 'Year' the year value range varies in large (few misinputs). This dataset's primary year being 2013-2014 in the following cell we remove all the rows that does not have a year value of either 2013 or 2014</font>

In [7]:
df_new = df_new.where(func.col('Year')<2015)
df_new = df_new.where(func.col('Year')>2012)

In [14]:
df_new.groupBy("Meridiem") \
  .count() \
  .withColumnRenamed('count', 'count') \
  .withColumn('percentage', (func.col('count') / df_new.count()) * 100 ) \
  .show()

+--------+-------+--------------------+
|Meridiem|  count|          percentage|
+--------+-------+--------------------+
|    null|   2054|0.022582295370486522|
|       A|4436275|   48.77374508018749|
|       P|4657277|  51.203507709918874|
|        |     15|1.649145231535043E-4|
+--------+-------+--------------------+

<font size="4">The 'Meridiem' column has few null and empty values, the empty values are converted into 'None' and later on dropped</font>

In [8]:
df_new = df_new.withColumn("Meridiem", \
       func.when(col("Meridiem")=="" ,None) \
          .otherwise(col("Meridiem")))

In [16]:
df_new.groupBy("Time_Hour") \
  .count() \
  .withColumnRenamed('count', 'count') \
  .withColumn('percentage', (func.col('count') / df_new.count()) * 100 ) \
  .show()

+---------+------+--------------------+
|Time_Hour| count|          percentage|
+---------+------+--------------------+
|      8.0|955730|  10.507583814233245|
|      0.0| 52530|   0.577530660083572|
|      7.0|518121|   5.696378510054453|
|     29.0|    10|1.099430154356695...|
|     44.0|     1|1.099430154356695...|
|     null|  2057|0.022615278275117223|
|      1.0|968418|  10.647079512218022|
|      0.6|     1|1.099430154356695...|
|      4.0|580011|   6.376815832585812|
|     85.0|     1|1.099430154356695...|
|     77.0|     1|1.099430154356695...|
|     11.0|964384|  10.602728499791274|
|      3.0|627837|   6.902629298208446|
|     53.0|     3|3.298290463070086E-5|
|     59.0|     6|6.596580926140172E-5|
|     28.0|    15|1.649145231535043E-4|
|      2.0|857338|   9.425832496758606|
|     10.0|823190|    9.05039908764888|
|     30.0|     9| 9.89487138921026E-5|
|     84.0|     2|2.198860308713390...|
+---------+------+--------------------+
only showing top 20 rows

<font size="4">The 'Time_Hour' column has garbage values. The value should be between 1-12(12 hour format), in the following cell we remove all the rows that does not have a time value between 1.0 and 12.0</font>

In [9]:
df_new = df_new.withColumn("Time_Hour", func.when((func.col("Time_Hour") <= 0.0) |  \
                                                  (func.col("Time_Hour") > 12.0),1.0) \
                           .otherwise(df_new.Time_Hour))

In [18]:
df_new.groupBy("Registration State") \
  .count() \
  .withColumnRenamed('count', 'count') \
  .withColumn('percentage', (func.col('count') / df_new.count()) * 100 ) \
  .show(100)

+------------------+-------+--------------------+
|Registration State|  count|          percentage|
+------------------+-------+--------------------+
|                SC|  19515|  0.2145537946227091|
|                AZ|  24221| 0.26629297768673516|
|                NS|    373|0.004100874475750474|
|                LA|   2497|0.027452770954286686|
|                MN|  12897|   0.141793507007383|
|                NJ| 878359|   9.656943709505926|
|                MX|    108|0.001187384566705231|
|                DC|   3727| 0.04097576185287404|
|                OR|   3482| 0.03828215797470013|
|                99|  37912| 0.41681596011971034|
|                VA|  60919|  0.6697618557325553|
|                RI|  13286| 0.14607029030783053|
|                KY|   3222|0.035423639573372724|
|                WY|    300|0.003298290463070...|
|                BC|    329|0.003617125207833528|
|                NH|   9928| 0.10915142572453272|
|                MI|  16357| 0.17983379034812466|
|                GV|   1312|0.014424523625159842|
|                NV|   2131|0.023428856589341178|
|                QB|   5335|  0.0586545987349297|
|                WI|   5310|0.058379741196340526|
|                ID|   5860| 0.06442660704530236|
|                CA|  20088| 0.22085352940717298|
|                CT| 136909|   1.505218830028208|
|                NE|   1626|0.017876734309839867|
|                MT|    622|0.006838455560098646|
|                NC|  47089|  0.5177106653850243|
|                VT|   7210| 0.07926891412911774|
|                MD|  50383|  0.5539258946695338|
|                DE|  14636| 0.16091259739164593|
|                MO|   2874| 0.03159762263621142|
|                IL|  31741| 0.34897012529435867|
|                ME|  19421|  0.2135203302776138|
|                MB|     22| 2.41874633958473E-4|
|                WA|   5959| 0.06551504289811548|
|                ND|    430| 0.00472754966373379|
|                MS|   3426| 0.03766647708826038|
|                AL|   5824| 0.06403081218973393|
|                IN|  49104|  0.5398641829953117|
|                OH|  21985|  0.2417097194353195|
|                TN|  18383| 0.20210824527539129|
|                NM|   2934|0.032257280728825444|
|                IA|   7163| 0.07875218195657009|
|                PA| 225658|  2.4809520977182316|
|                SD|    690|0.007586068065061198|
|                NY|7026270|   77.24893110651819|
|                ON|   5182| 0.05697247059876395|
|                SK|     25|2.748575385891738...|
|                AB|    243| 0.00267161527508677|
|                PE|     99|0.001088435852813...|
|                TX|  24076|   0.264698803962918|
|                WV|   1688|0.018558381005541018|
|                GA|  30818|  0.3388223849696464|
|                MA|  78598|  0.8641301127212755|
|                KS|   1225|0.013468019390869519|
|                FL| 111832|  1.2295147302201797|
|                CO|   3661| 0.04025013795099862|
|                AK|    961|0.010565523783367843|
|                AR|   2715|0.029849528690784277|
|                NB|    151| 0.00166013953307861|
|                OK|  19682|  0.2163898429804848|
|                PR|    211|0.002319797625692...|
|                UT|    942| 0.01035663205404007|
|                HI|    395|0.004342749109708947|
|                DP|   5260| 0.05783002611916217|
|                NT|      6|6.596580926140172E-5|
|                FO|      9| 9.89487138921026E-5|
|                YT|     14|1.539202216099373...|
|                NF|      1|1.099430154356695...|
+------------------+-------+--------------------+

<font size="4">Removing Garbage value '99' from 'Registration State' column</font>

In [10]:
df_new = df_new.withColumnRenamed('Registration State', 'Registration_State')
df_new = df_new.filter(df_new.Registration_State != '99')

In [20]:
df_new.groupBy("Plate Type") \
  .count() \
  .withColumnRenamed('count', 'count') \
  .withColumn('percentage', (func.col('count') / df_new.count()) * 100 ) \
  .show(100)

+----------+-------+--------------------+
|Plate Type|  count|          percentage|
+----------+-------+--------------------+
|       CCK|     24|2.649676645606521E-4|
|       OMO|     40|4.416127742677535...|
|       LMB|     30|3.312095807008152E-4|
|       CLG|     12|1.324838322803260...|
|       SOS|     67|7.397013968984872E-4|
|       SPC|    209|0.002307426745549...|
|       SUP|     31|3.422499000575090...|
|       NYA|    122|0.001346918961516...|
|       RGL|   4281|0.047263607166006326|
|       CHC|    262|0.002892563671453786|
|       STA|    187|0.002064539719701748|
|       RGC|    267|0.002947765268237255|
|       TRC|  22351| 0.24676217794146402|
|       AMB|     86|9.494674646756703E-4|
|       COM|1878953|  20.744241176217958|
|       HAM|    137|0.001512523751867056|
|       CMH|   2347| 0.02591162953016044|
|       NYS|     26|2.870483032740398...|
|       MCD|    102|0.001126112574382...|
|       IRP|  59785|  0.6600454927399412|
|       ORG|  12721| 0.14044390253650235|
|       999|  48953|  0.5404567534682335|
|       ATD|     41|4.526530936244474E-4|
|       ORC|    286|0.003157531336014438|
|       LTR|    134|0.001479402793796...|
|       USC|     44| 4.85774051694529E-4|
|       ITP|   2549|0.028141774040212595|
|       SRF|  95585|  1.0552889257095805|
|       OMF|    473|0.005222071055716186|
|       LUA|     10|1.104031935669383...|
|       AGR|    313|0.003455619958645...|
|       OML|  10525| 0.11619936122920266|
|       ORM|     89|9.825884227457518E-4|
|       MCL|   1637|0.018073002786907814|
|       PAS|6495695|   71.71454724367939|
|       OMR|  16926|  0.1868684454313999|
|       OMT| 235178|  2.5964402256685437|
|       SCL|   3596|0.039700988406671044|
|       OMV|     85|9.384271453189764E-4|
|       PHS|    774|0.008545207182081032|
|       STG|     60|6.624191614016304E-4|
|       GSM|      8|8.832255485355072E-5|
|       PSD|   3458|0.038177424335447296|
|       CSP|   1324|0.014617382828262644|
|       AYG|    117|0.001291717364733...|
|       HIS|    808|0.008920578040208623|
|       GAC|     15|1.656047903504076E-4|
|       AGC|     39|4.305724549110597E-4|
|       GSC|      3|3.312095807008151...|
|       MED|  12372|  0.1365908310810162|
|       LMA|    102|0.001126112574382...|
|       ARG|     27|2.980886226307336...|
|       THC|    105|0.001159233532452...|
|       DLR|   5106| 0.05637187063527874|
|       SRN|   4074|  0.0449782610591707|
|       VPL|     41|4.526530936244474E-4|
|       SEM|    555|0.006127377242965081|
|       SPO|   7041| 0.07773488859048132|
|       CMB|  13116|  0.1448048286823964|
|       TOW|   4221| 0.04660118800460469|
|       VAS|   3079|0.033993143299260335|
|       FPW|     34|3.753708581275905...|
|       NLM|     53|5.851369259047734E-4|
|       TRL|   2271| 0.02507256525905171|
|       OMS|  74988|  0.8278914679197577|
|       TRA|   3503| 0.03867423870649852|
|       LMC|     10|1.104031935669383...|
|       JSC|      8|8.832255485355072E-5|
|       MOT|  23379|  0.2581116262401453|
|       CME|    245|0.002704878242389991|
|       CBS|    718|0.007926949298106176|
|       NYC|     25|2.760079839173459...|
|       FAR|     18|1.987257484204891...|
|       BOB|     60|6.624191614016304E-4|
|       HAC|      7|7.728223549685687E-5|
|       HSM|     12|1.324838322803260...|
|       JCA|      9|9.936287421024456E-5|
|       HIR|      7|7.728223549685687E-5|
|       JCL|      7|7.728223549685687E-5|
|       BOT|      8|8.832255485355072E-5|
|       HOU|      2|2.208063871338768E-5|
|       HIF|      2|2.208063871338768E-5|
|       PPH|      6|6.624191614016303E-5|
|       JWV|      1|1.104031935669384E-5|
|       WUG|      1|1.104031935669384E-5|
|       LOC|      1|1.104031935669384E-5|
|       APP|   1729|0.019088712167723648|
|       USS|      1|1.104031935669384E-5|
+----------+-------+--------------------+

<font size="4">Removing Garbage value '999' from 'Plate Type' column</font>

In [11]:
df_new = df_new.withColumnRenamed('Plate Type', 'Plate_Type')
df_new = df_new.filter(df_new.Plate_Type != '999')

<font size="4">Trimming extra spaces from column name(Days Parking In Effect, Community Council)</font>

In [12]:
df_new = df_new.withColumnRenamed('Days Parking In Effect    ','Days Parking In Effect')
df_new = df_new.withColumnRenamed('Community Council ','Community Council')

In [23]:
df_new.groupBy("Violation County") \
  .count() \
  .withColumnRenamed('count', 'count') \
  .withColumn('percentage', (func.col('count') / df_new.count()) * 100 ) \
  .show()

+----------------+-------+--------------------+
|Violation County|  count|          percentage|
+----------------+-------+--------------------+
|               K|1958357|  21.738373200472964|
|               Q|1807826|   20.06743217376517|
|              BX| 931991|  10.345390639950732|
|            null| 694306|   7.707013043754321|
|           BRONX|      3|3.330093522346481...|
|               R|  98074|  1.0886519737020295|
|              NY|3518187|   39.05297246367867|
|            RICH|      4|4.440124696461975E-5|
|           KINGS|      1|1.110031174115493...|
|             NYC|      2|2.220062348230987...|
|             103|      1|1.110031174115493...|
|           QUEEN|      2|2.220062348230987...|
|              RC|      2|2.220062348230987...|
+----------------+-------+--------------------+

<font size="4">The target column 'Violation County' has multiple abbrevation for a single location (Ex:- NYC and NY both indicate New York), in the following cell it is made to one). Also other parking violation datasets' (2015-2016) 'Violation County' values has been viewed for confirmation </font>

In [13]:
df_new = df_new.withColumn('Violation County', regexp_replace('Violation County', 'KINGS', 'K')) \
                .withColumn('Violation County', regexp_replace('Violation County','QUEEN', 'Q')) \
                .withColumn('Violation County', regexp_replace('Violation County', 'BRONX', 'BX')) \
                .withColumn('Violation County', regexp_replace('Violation County', 'RC', 'R'))   \
                .withColumn('Violation County', regexp_replace('Violation County', 'RICH','R'))  \
                .withColumn('Violation County', regexp_replace('Violation County', 'NYC', 'NY'))

<font size="4">Since 'Violation County' is our target column in the following cells we are dropping any null rows preset and rows that has garbage value</font>

In [14]:
df_new = df_new.dropna(how='any',subset=['Violation County'])

In [15]:
df_new = df_new.withColumnRenamed('Violation County', 'Violation_County')
df_new = df_new.filter(df_new.Violation_County != '103')

<font size="4">Replacing emtpy values in the entire dataframe with None</font>

In [16]:
df_new=df_new.select([func.when(func.col(c)=="",None).otherwise(func.col(c)).alias(c) for c in df_new.columns])

<font size="4">Finding the correlation between column 'Violation Location' and 'Violation Precint'</font>

In [31]:
df_new.stat.corr('Violation Location','Violation Precinct')

1.0

<font size="4">In the following cells uncessary columns are guessed based on column names, for null values percentage of columns, kaggle has been refered</font>

In [17]:
# Uneccessary columns
columns_to_drop = ['Summons Number','Plate ID','Issuer Code','Vehicle Expiration Date','House Number','Street Name','Date First Observed','Law Section','Sub Division','Vehicle Color','Vehicle Year','Feet From Curb','Violation Post Code','Violation Description','Violation Precinct']
# Columns that has more than 30% of missing value
columns_missing2 = ['Days Parking In Effect','From Hours In Effect','To Hours In Effect']
# columns that has more than 75% of missing values
columns_missing = ['Time First Observed','Intersecting Street','Violation Legal Code','Unregistered Vehicle?','Meter Number',"No Standing or Stopping Violation","Hydrant Violation","Double Parking Violation","Latitude","Longitude","Community Board","Community Council","Census Tract","BIN","BBL","NTA"]
# Columns that are no longer needed
columns_to_drop2 = ['Year','Violation_Time','Issue Date','Issuer Squad']
final_columns = columns_missing+columns_missing2+columns_to_drop+columns_to_drop2

In [18]:
len(final_columns)

38

In [19]:
df_new = df_new.drop(*final_columns)

<font size='4'>Replacing spaces in the column name with underscore</font>

In [20]:
df_new = df_new.select([func.col(col).alias(col.replace(' ', '_')) for col in df_new.columns])

In [34]:
df_new = df_new.na.drop('any')

In [36]:
df_new.count()

8142488

In [ ]:
df_empty = df_new.select([func.count(func.when(col(c).contains('None') | \
                            col(c).contains('NULL') | \
                            (col(c) == '' ) | \
                            col(c).isNull() | \
                            func.isnan(c), c 
                           )).alias(c)
                    for c in df_new.columns]).show()

In [46]:
len(df_new.columns)

18

## ANALYSIS

In [48]:
df_new.groupBy("Month") \
  .count() \
  .withColumnRenamed('count', 'count') \
  .withColumn('percentage', (func.col('count') / df_new.count()) * 100 ) \
  .show()

+-----+------+------------------+
|Month| count|        percentage|
+-----+------+------------------+
|  8.0|734673| 9.022709029476003|
|  7.0|126908|1.5585899543235435|
|  1.0|644437|  7.91449738703944|
|  4.0|774254| 9.508813522353364|
| 11.0|769771| 9.453756640476474|
|  3.0|814310|10.000751613020492|
|  2.0|582153| 7.149571482328251|
| 10.0|858861|10.547893960666569|
|  6.0|633118| 7.775485822023932|
|  5.0|818118|10.047518645406663|
|  9.0|728177| 8.942929974229006|
| 12.0|657708| 8.077481968656263|
+-----+------+------------------+

In [49]:
df_new.groupBy("Violation_County") \
  .count() \
  .withColumnRenamed('count', 'count') \
  .withColumn('percentage', (func.col('count') / df_new.count()) * 100 ) \
  .show()

+----------------+-------+------------------+
|Violation_County|  count|        percentage|
+----------------+-------+------------------+
|               K|1912409|23.486789295851587|
|               Q|1772184|    21.76464982202|
|              BX| 906164|11.128834331717774|
|               R|  89976|1.1050185152253218|
|              NY|3461755|42.514708035185315|
+----------------+-------+------------------+

In [22]:
df_new.groupBy("Violation_County") \
  .count() \
  .withColumnRenamed('count', 'count') \
  .withColumn('percentage', (func.col('count') / df_new.count()) * 100 ) \
  .show()

+----------------+-------+------------------+
|Violation_County|  count|        percentage|
+----------------+-------+------------------+
|               K|1958358|23.553671445937066|
|               Q|1807828|21.743208720144892|
|              BX| 931994|11.209329686188466|
|               R|  98080|1.1796331903653507|
|              NY|3518189|42.314156957364226|
+----------------+-------+------------------+